/* Reset default browser styles */
body, h1, h2, h3, p, ul, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Header */
  header {
    background-color: #333;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  /* Home Section */
  #home {
    background-color: #f2f2f2;
    text-align: center;
    padding: 100px 0;
  }
  
  /* About Section */
  #about {
    text-align: center;
    padding: 50px 0;
  }
  
  /* Projects Section */
  #projects {
    background-color: #f2f2f2;
    text-align: center;
    padding: 50px 0;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  /* Contact Section */
  #contact {
    text-align: center;
    padding: 50px 0;
  }
  
  form input, textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form textarea {
    height: 100px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  